<!DOCTYPE html>
<html>

<head th:include="/inc/head"></head>
<body>

	<div class="container">
		<div class="header">
			<h3 id="label">Cadastro de Unidade</h3>
		</div>

		<form class="header" action="/cadastrarPessoa" id="form-unidade" method="Post">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label>Nome da Pessoa</label> <input name="nome" type="text"
							class="form-control" id="inputNome" placeholder="Nome do Pessoa" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label>R.A.</label> <input name="ra" type="text"
							class="form-control" id="inputCategoria" placeholder="R.A." />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label>R.G.</label> <input name="rg" type="text"
							class="form-control" id="inputCategoria" placeholder="R.G." />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label>E-mail.</label> <input name="email" type="text"
							class="form-control" id="inputCategoria" placeholder="R.G." />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label>Celular</label> <input name="celular" type="text"
							class="form-control" id="inputCategoria" placeholder="R.G." />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5">
					<div class="form-group">
						<label>Unidade</label> <select name="unidade" class="form-control" >
							<option th:unless="${#lists.isEmpty(unidades)}" th:each="unidade : ${unidades}" th:value="${unidade.id}">${unidade.nome}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<div class="form-group">
						<label>Curso</label> <input name="curso" type="text"
							class="form-control" id="inputPalestrante" placeholder="Curso" />
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label>Ano Matricula</label> <input name="anoMatricula" type="text"
							class="form-control" id="inputPalestrante" placeholder="Ano Matricula" />
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
						<label>Semestre Matricula</label> <input name="semestreMatricula" type="text"
							class="form-control" id="inputPalestrante" placeholder="Semestre Matricula" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5">
					<div class="form-group">
						<label>Atestado</label> <br> Aqui virá a funcionalidade de upload do arquivo.
					</div>
				</div>
			</div>
			<div class="text-left">
				<button type="submit" class="btn btn-lg btn-primary">Cadastrar</button>
				<a href="/" class="btn btn-default">Voltar</a>
			</div>
		</form>
	</div>
</body>
</html>